<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/editUserCall.css">
    <title>Edit</title>
</head>
<body>
    <div class="maincontainer">
            <div class="imagenlogin">
                <img src="../static/images/imagesindex/edit.png" alt="Login image" class="loginimage">
            </div> 
            <div class="register">
                <h2>Edición</h2>
                <p class="textED">Id del usuario</p>
                <p class = idED>{{US[0]}}</p>
                <form action="" method="POST">
                    <input type="text" placeholder="Nombre" class="nombre" id="nombreED" name="nombreED" value="{{US[1]}}">
                    <input type="text" placeholder="Correo" class="correoED"  name="correoED" value="{{US[2]}}">
                    <input type="text" placeholder="Usuario" class="usuarioED" name="usuarioED" value="{{US[3]}}">
                    <input type="text" placeholder="Rol" class="rolED" name="rolED" value="{{US[5]}}">               
                    <input type="submit" class="submit" value="Actualizar">
                </form>
                <a class="submit2"href="{{url_for('usuario')}}">Regresar</a>
            </div>
    </div>
    </div>
</body>
</html>

