<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.css">
    <script src="static/js/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.7/glider.min.js"></script>
    <title>Pei Wei Asian Diner</title>
</head>
<div>
    <iframe src="layout.html" frameborder="0" class="lay"></iframe>
    <div class="contenedor">
        <header class="header">
            <h2>Pei Wei </br>Asian Diner</h2>
        </header>
        <div class="widget-1">
                <a href="#" class="btn">Destacados</a>
                <a href="#" class="btn">Menú</a>
                <a href="#" class="btn">Contáctanos</a>
        </div>
        <div class="contenido">
            <div class="carrousel">
                <h2>Destacados de la semana</h2>
                <div class="carrousel-contenido">
                    <button aria-label="anterior" class="carrouselanterior">
                        <i class="fas fa-chevron-left"></i>
                    </button>
                    <div class="elementos_lista">
                        <div class="elemento">
                            <h2 class = "tituloimg">TITULO</h2>
                            <img src="../static/images/imagesindex/sushi.jpg" alt="sushi">
                            <p>descripcion</p>
                        </div>
                        <div class="elemento">
                            <h2 class = "tituloimg">TITULO</h2>
                            <img src="static/images/ensaladafrutastropicales.jpg" alt="sushi">
                            <p>descripcion</p>
                        </div>
                        <div class="elemento">
                            <h2 class = "tituloimg">TITULO</h2>
                            <img src="static/images/padthai.jpg" alt="sushi">
                            <p>descripcion</p>
                        </div>
                        <div class="elemento">
                            <h2 class = "tituloimg">TITULO</h2>
                            <img src="static/images/pastelnata.jpg" alt="sushi">
                            <p>descripcion</p>
                        </div>
                        <div class="elemento">
                            <h2 class = "tituloimg">TITULO</h2>
                            <img src="static/images/postrelocodetaiwan.jpg" alt="sushi">
                            <p>descripcion</p>
                        </div>
                        <div class="elemento">
                            <h2 class = "tituloimg">TITULO</h2>
                            <img src="static/images/ensaladafrutastropicales.jpg" alt="sushi">
                            <p>descripcion</p>
                        </div>
                        <div class="elemento">
                            <h2 class = "tituloimg">TITULO</h2>
                            <img src="static/images/ensaladafrutastropicales.jpg" alt="sushi">
                            <p>descripcion</p>
                        </div>
                        <div class="elemento">
                            <h2 class = "tituloimg">TITULO</h2>
                            <img src="static/images/ensaladafrutastropicales.jpg" alt="sushi">
                            <p>descripcion</p>
                        </div>
                        <div class="elemento">
                            <h2 class = "tituloimg">TITULO</h2>
                            <img src="static/images/ensaladafrutastropicales.jpg" alt="sushi">
                            <p>descripcion</p>
                        </div>
                    </div>
                    <button aria-label="siguiente" class="carrouselsiguiente">
                        <i class="fas fa-chevron-right"></i>
                    </button>
                </div>
                <div role="tablist" class="indicadores"></div>
            </div>
        </div>
        <aside class="sidebar">
        </aside>
        
        <div class="widget-2">
                <div class="card">
                    <img src="static/images/descarga.jpg" alt="Dumpling">
                    <h3>Dumpling</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                    <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                </div>
                <div class="card">
                    <img src="static/images/roticanai.jpg" alt="Roti-Canai">
                    <h3>Roti Canai</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                    <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                </div>
                <div class="card">
                    <img src="static/images/padthai.jpg" alt="Pad-Thai">
                    <h3>Pad Thai</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                    <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                </div>
                <div class="card">
                    <img src="static/images/arrozfrito.jpg" alt="Arroz-Frito">
                    <h3>Arroz Frito</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                    <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                </div>
                <div class="card">
                    <img src="static/images/arrozfrito.jpg" alt="Arroz-Frito">
                    <h3>Arroz Frito</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                    <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                </div>
                <div class="card">
                    <img src="static/images/arrozfrito.jpg" alt="Arroz-Frito">
                    <h3>Arroz Frito</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                    <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                </div>
                <div class="card">
                    <img src="static/images/arrozfrito.jpg" alt="Arroz-Frito">
                    <h3>Arroz Frito</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                    <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                </div>
                <div class="card">
                    <img src="static/images/arrozfrito.jpg" alt="Arroz-Frito">
                    <h3>Arroz Frito</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                    <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                </div>
            </div>
        <footer class="footer">
            <h3>Footer</h3>
        </footer>
        </div>
        



    </div>
    
</body>
</html>