<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/layout.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav-main">
        <!--BTN-->
        <input type="checkbox" class="nav-main__btn-collapse" id="nav-main__checkbox">
        <label for="nav-main__checkbox" class="nav-main__btn-collapse-icon">
            <span class="icon-nav"></span>
            <span class="icon-nav"></span>
            <span class="icon-nav"></span>
        </label>
        <!--BOXRED-->
        <div class="nav-main__btn-collapse-bg"></div>
        <!--Social-->

        <!--MENU-->
        <div class="nav-main__menu">
            <a href="#" class="nav-main__link-item">
                1
            </a>
            <a href="#" class="nav-main__link-item">
                2
            </a>
            <a href="#" class="nav-main__link-item">
                3   
            </a>
            <a href="#" class="nav-main__link-item">
                4
            </a>
            <a href="#" class="nav-main__link-item">
                5
            </a>
            <a href="#" class="nav-main__link-item">
                6
            </a>
            <a href="#" class="nav-main__link-item">
                7
            </a>
            <a href="#" class="nav-main__link-item">
                8
            </a>
        </div>
        <!--LOGO-->
        <div class="logo">
            <a href="#" class="logoicono">
                <img src="../static/images/imagesindex/login/icono.png" alt="logo" class="logoredirect">
            </a>
        </div>
        <div class="newmenu">
            
        </div>
        <!-- Login-->
        <div class="ingresarlogin">
            <a href="#" class="logologin">
                <i class="fas fa-sign-in-alt"></i>
            </a>
        </div>
    </nav>
</body>
</html>