<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
      integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/layout.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav-main">
        <!--BTN-->
        <input type="checkbox" class="nav-main__btn-collapse" id="nav-main__checkbox">
        <label for="nav-main__checkbox" class="nav-main__btn-collapse-icon">
            <span class="icon-nav"></span>
            <span class="icon-nav"></span>
            <span class="icon-nav"></span>
        </label>
        <!--BOXRED-->
        <div class="nav-main__btn-collapse-bg"></div>
        <!--Social-->

        <!--MENU-->
        
        {% if session["rol"] == 1 %}
            <div class="nav-main__menu">
                <a href="{{ url_for('menu') }}" class="nav-main__link-item">
                    Menu
                </a>
                <a href="#" class="nav-main__link-item">
                    Perfil
                </a>
                <a href="{{ url_for('pedido') }}" class="nav-main__link-item">
                    Pedidos
                </a>
                <a href="{{ url_for('plato') }}" class="nav-main__link-item">
                    Gestionar Platos
                </a>
                <a href="{{ url_for('usuario') }}" class="nav-main__link-item">
                    Gestionar Usuarios
                </a>
            </div>
        {% elif session["rol"] == 2 %}
            <div class="nav-main__menu">
                <a href="{{ url_for('menu') }}" class="nav-main__link-item">
                    Menu
                </a>
                <a href="#" class="nav-main__link-item">
                    Perfil
                </a>
                <a href="{{ url_for('pedido') }}" class="nav-main__link-item">
                    Pedidos
                </a>

                <a href="{{ url_for('usuario') }}" class="nav-main__link-item">
                    Gestionar Usuarios
                </a>
            </div>
        {% elif session["rol"] == 3 %}
            <div class="nav-main__menu">
                <a href="{{ url_for('menu') }}" class="nav-main__link-item">
                    Menu
                </a>
                <a href="#" class="nav-main__link-item">
                    Perfil
                </a>
                <a href="{{ url_for('pedido') }}" class="nav-main__link-item">
                    Pedidos
                </a>
            </div>
        {% else %}
            <div class="nav-main__menu">
                <a href="{{ url_for('menu') }}" class="nav-main__link-item">
                    Menu
                </a>
            </div>
        {% endif %}

        
        
        <!--LOGO-->
        <div class="logo">
            <a href="{{ url_for('index') }}" class="logoicono">
                <img src="../static/images/imagesindex/login/icono.png" alt="logo" class="logoredirect">
            </a>
        </div>
        <div class="newmenu">
            
        </div>
        <!-- Login-->
        {% if "usuario" in session %}
            <div class="salirlogout">
                <a href="{{ url_for('logout') }}" class="logologin">
                    <i class="fas fa-sign-out-alt"></i>
                </a>
            </div>
        {% else %}
            <div class="ingresarlogin">
                <a href="{{ url_for('login') }}" class="logologin">
                    <i class="fas fa-sign-in-alt"></i>
                </a>
            </div>
        {% endif %}
    </nav>
</body>
</html>