<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Sign up/Sign in</title>
</head>
<body>
    <div class="maincontainer">
        <div class="contenedor2">
            <div class="imagenlogin">
                <img src="static/images/login/loginimage.png" alt="Login image" class="loginimage">
            </div> 
            <div class="logincontainer">
                <div class="register">
                    <h2>Registrarse</h2>
                    <form action="" method="post">
                        <input type="text" id="nombre" name="nombre" placeholder="Nombre completo" class="nombre" value="{{request.form.nombre}}">
                        <input type="text" id="usuario" name="usuario" placeholder="Nickname" class="nombreUsuario" value="{{request.form.usuario}}">
                        <input type="text" id="correo" name="correo" placeholder="Correo" class="correo" value="{{request.form.correo}}">
                        <input type="password" id="clave" name="clave" placeholder="Contraseña" class="password" value="{{request.form.clave}}">
                        <input type="password" id="confirmar-clave" name="confirmar-clave" placeholder="Confirmar contraseña" class="repass">
                        <input type="submit" class="submit" value="Registrate">
                    </form>
                </div>
                <div class="login">
                    <h2>Iniciar sesión</h2>
                    <input type="text" id="usuario" name="usuario" placeholder="Nickname" class="nombreUsuarioLog">
                    <input type="password" id='clave' name='clave' placeholder="Contraseña" class="passwordLog">
                    <input type="submit" class="submit" value="Iniciar Sesion">
                </div>
            </div>
    </div>
    </div>
    
</body>
</html>