<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>Sign up/Sign in</title>
</head>
<body>
    {% include 'layout.html'%}
    <div class="maincontainer">
        <div class="contenedor2">
            <div class="imagenlogin">
                <img src="../static/images/imagesindex/login/loginimage.png" alt="Login image" class="loginimage">
            </div> 
            <div class="logincontainer">
                <div class="login">
                    <h2>Iniciar sesión</h2>
                    <input type="text" placeholder="Nickname" class="nombreUsuarioLog">
                    <input type="password" placeholder="Contraseña" class="passwordLog">
                    <input type="submit" class="submit" value="Iniciar Sesion">
                </div>
                
            </div>
            <div class="registersetting">
                <p>¿No tienes cuenta?</p>
                <a href="{{url_for('register')}}">Registrarse</a>
            </div>
    </div>
    </div>
    
</body>
</html>