<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/menu.css">
    <title>Document</title>
</head>
<body>

    {% include 'layout.html' %}

    <div class="menu">
        <div class="arriba">
            <h1>BIENVENIDO AL MENÚ</h1>
        </div>
        <div class="contenido">
            <div class="contbusqueda">
                <input type="text" placeholder="Ingresa tu busqueda aquí" class="busquedaqui">
            </div>
            <div class="menupag">
                <div class="card">
                    <img src="../static/images/imagesindex/descarga.jpg" alt="Dumpling">
                    <div class="descript">
                        <h3>Dumpling</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                        <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/imagesindex/roticanai.jpg" alt="Roti-Canai">
                    <div class="descript">
                        <h3>Dumpling</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                        <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/imagesindex/roticanai.jpg" alt="Roti-Canai">
                    <div class="descript">
                        <h3>Dumpling</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                        <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/imagesindex/roticanai.jpg" alt="Roti-Canai">
                    <div class="descript">
                        <h3>Dumpling</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                        <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/imagesindex/roticanai.jpg" alt="Roti-Canai">
                    <div class="descript">
                        <h3>Dumpling</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                        <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/imagesindex/roticanai.jpg" alt="Roti-Canai">
                    <div class="descript">
                        <h3>Dumpling</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                        <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/imagesindex/roticanai.jpg" alt="Roti-Canai">
                    <div class="descript">
                        <h3>Dumpling</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                        <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/imagesindex/roticanai.jpg" alt="Roti-Canai">
                    <div class="descript">
                        <h3>Dumpling</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                        <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/imagesindex/roticanai.jpg" alt="Roti-Canai">
                    <div class="descript">
                        <h3>Dumpling</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                        <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                <div class="card">
                    <img src="../static/images/imagesindex/roticanai.jpg" alt="Roti-Canai">
                    <div class="descript">
                        <h3>Dumpling</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora asperiores sunt rem accusantium, aliquid rerum? Consequuntur fugit aperiam rerum corrupti?</p>
                        <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <aside class="sidebar">
            <h3>Sidebar</h3>
        </aside>
        <div class="widget-1">
            <h3>Widget 1</h3>
        </div>
        <footer class="footer">
            <h3>Footer</h3>
        </footer>
    </div>
</body>
</html>