<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/menu.css">
    <title>Document</title>
</head>
<body>

    {% include 'layout.html' %}

    <div class="menu">
        <div class="arriba">
            <h1>BIENVENIDO AL MENÚ</h1>
        </div>
        <div class="contenido">
            <div class="contbusqueda">
                <form action="{{url_for('search')}}" method="POST">
                    <input type="text" placeholder="Ingresa tu busqueda aquí" class="busquedaqui" id=busqueda name="busqueda">
                </form>
            </div>
            <div class="menupag">
                {% for PLI in PL %}
                <div class="card">
                    <img src="../static/img-platos/{{ PLI.3 }}" alt="Dumpling">
                    <div class="descript">
                        <h3>{{PLI[1]}}</h3>
                        <p>{{PLI[2]}}</p>
                        <a href="#">Ver platillo <i class="fas fa-angle-double-right"></i></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>