<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/register.css">
    <title>Sign up/Sign in</title>
</head>
<body>
    <iframe src="layout.html" frameborder="0" class="lay"></iframe>
    <div class="maincontainer">
        <div class="contenedor2">
            <div class="imagenlogin">
                <img src="../static/images/login/loginimage.png" alt="Login image" class="loginimage">
            </div> 
            <div class="logincontainer">
                <div class="register">
                    <h2>Registrarse</h2>
                    <form action="">
                        <input type="text" placeholder="Nombre completo" class="nombre">
                        <input type="text" placeholder="Nickname" class="nombreUsuario">
                        <input type="text" placeholder="Correo" class="correo">
                        <input type="password" placeholder="Contraseña" class="password">
                        <input type="password" placeholder="Confirmar contraseña" class="repass">
                        <input type="submit" class="submit" value="Registrate">
                    </form>
                </div>
                <div class="login">
                    <h2>Iniciar sesión</h2>
                    <input type="text" placeholder="Nickname" class="nombreUsuarioLog">
                    <input type="password" placeholder="Contraseña" class="passwordLog">
                    <input type="submit" class="submit" value="Iniciar Sesion">
                </div>
            </div>
    </div>
    </div>
    
</body>
</html>